@charset "utf-8";

@font-face {
  font-family: 'aileron';
  src: url('/leidorf-github.io/fonts/Aileron-SemiBold.otf') format('opentype');
}

main {
  flex: 1;
  height: 100px
}
body {
  font-family: 'aileron' ;
  background-color: #0c001a;
  color: #f0e1ff;
  margin: 0;
  padding: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
.header {
  text-align: center;
  padding: 20px 0;
}

.header h1 {
  font-size: 36px;
  color: #b571fd;
}

/* Post */
.post {
  margin-bottom: 40px;
}

.post img {
  width: 300px; 
  height: auto; 
  max-width: 100%; 
}

/* Link */
a {
  color: #9c0265;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  background-color: #fc135942;
}

#footer {
  height: 50px;
  margin-top:auto;

  /* Footer Background */
  background-color: #16052b;
  padding: 20px 20px;
}

.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}
