@charset "utf-8";

@font-face {
  font-family: 'aileron';
  src: url('/leidorf-github.io/fonts/Aileron-SemiBold.otf') format('opentype');
}

main {
  margin-top: 10px;
  margin-left: 25px;
  flex: 1;
  height: 100px
}
body {
  font-family: 'aileron' ;
  background-color: #0c001a;
  color: #f0e1ff;
  margin: 0;
  padding: 0;
}

p, a{
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6{
  font-size:20px;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
header {
  padding: 20px 20px;
  background-color:#16052b;
  font-size: 32px;
}

/* Post */
.post {
  margin-bottom: 40px;
}

.post img {
  width: 450px; 
  height: auto; 
  max-width: 100%; 
}

/* Link */
a {
  color: #9c0265;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  background-color: #fc135942;
}

#footer {
  height: 70px;
  margin-top:auto;

  background-color: #16052b;
  padding: 20px 20px;
}

.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}
