@font-face {
  font-family: "UIcons";
  src: url("../fonts/uicons/uicons-regular-rounded.woff2") format("woff2"), url("../fonts/uicons/uicons-regular-straight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html,
body,
header,
footer,
main,
.container,
#__next {
  background-color: #0f0f0f; 
  color: #ffffff; 
}

.copyleft {
  display: inline-block;
  transform: rotate(180deg);
  align-self: center;
}