@import url(https://fonts.bunny.net/css?family=chivo:700|manrope:400,500,700,800|shippori-mincho:700,800);

html,
body,
header,
footer,
main {
  background-color: #0f0f0f; /* Karanlık arkaplan rengi */
  color: #ffffff; /* Metin rengi */
}
.container {
  background-color: #0f0f0f; /* Karanlık arkaplan rengi */
  color: #ffffff; /* Metin rengi */
}

.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}
